{{page-title "Toffeechat"}}
<div class="site-body-area">
  <div class="mx-2 px-3 py-2">
    <div class="page-header mb-2">
      Request
    </div>
    <label for="request-url-field" class="form-label">URL</label>
    <div class="w-100 d-flex">
      <div class="w-95 d-flex">
        <Input
          id="request-url-field"
          class="request-input mb-3"
          @value={{this.requestUrl}}
        />
      </div>
      <div class="w-10 ml-3 d-flex">
        <button
          class="request-button"
          type="button"
          onclick={{this.request}}
        >Send</button>
      </div>
    </div>
    <label class="form-label">Body</label>
    <div class="w-100">
      <Textarea
        id="request-body-field"
        class="request-body-area mb-2"
        @value={{this.requestBody}}
      />
    </div>
    <label class="form-label">Response</label>
    <div class="w-100">
      <Textarea
        id="request-response-field"
        class="request-response-area mb-2"
        @value={{this.requestResponse}}
      />
    </div>
  </div>
</div>