<div class="w-100">
    <div class="page-header">My Toffeechat</div>
    <FieldCard>
        <FieldCardTopSpace>
            <FieldCardHeader>
                <ProfileContainer />
            </FieldCardHeader>
            <br />
            <FieldCardBody>
                {{ this.userData.bio }}
            </FieldCardBody>
        </FieldCardTopSpace>
        <FieldCardLiftedSpace>
            <div>
                <b>Number of Posts: </b> {{this.userData.numberOfAuthoredPosts}}
            </div>
        </FieldCardLiftedSpace>
        <FieldCardLiftedSpace>
            <div>
                <b>Number of Comments: </b> {{this.userData.numberOfReceivedComments}}
            </div>
        </FieldCardLiftedSpace>
        <FieldCardBottomSpace>
            <div>
                <b>Number of Likes: </b> {{this.userData.numberOfReceivedLikes}}
            </div>
        </FieldCardBottomSpace>
    </FieldCard>
    <br />
    <FieldCard>
        <FieldCardTopSpace>
            <FieldCardHeader>
                <div class="profile-box-name">Activity</div>
            </FieldCardHeader>
            <FieldCardBody>
                This shows the total likes and comments that the user <i>"Guest"</i> has authored:
            </FieldCardBody>
        </FieldCardTopSpace>
        <FieldCardLiftedSpace>
            <div>
                <b>Authored Likes: </b> {{this.userData.numberOfAuthoredLikes}}
            </div>
        </FieldCardLiftedSpace>
        <FieldCardLiftedSpace>
            <div>
                <b>Authored Comments: </b> {{this.userData.numberOfAuthoredComments}}
            </div>
        </FieldCardLiftedSpace>
    </FieldCard>
    <div class="transparent">{{ this.getUserInfo }}</div>
</div>