<div class="w-100">
    <div class="page-header">News</div>
    <div class="w-100">
        {{#if this.isLoading}}
        <p>Loading posts...</p>
        {{else}}
            {{#each this.postsData as |post|}}
                <Post @author={{post.user.name}} @body={{post.body}} @numberOfLikes={{post.numberOfLikes}} @numberOfComments={{post.numberOfComments}} />
            {{/each}}
        {{/if}}
    </div>
    <div class="transparent">
        {{ this.getPostsInfo }}
    </div>
</div>